@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face 
{
    font-family: 'font-principal';
    src: url(/font/font-principal.ttf);
}

@font-face 
{
    font-family: 'font-logo';
    src: url(/font/font-logo.otf);
}

:root 
{
    --color-background-page: #000;
    --color-text-page: #fff;
    --color-span: ;

    --font-logo: 'font-logo';
    --font-h1: 'font-principal';
    --font-h2: "Poppins", sans-serif; 
    --font-nav-link: "Open Sans", sans-seri;
}

body 
{
    background-color: var(--color-background-page);
    color: var(--color-text-page);
}

main 
{
    padding: 70px 0;
}

.pagina-inicial 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pagina-inicial h1 
{
    font-family: var(--font-h1);
    font-size: 10em;
    font-weight: 900;
}

.pagina-inicial p 
{
    font-family: var();
    font-size: 1rem;
}

.pagina-inicial .redes-sociais 
{
    align-items: center;
    font-size: 2rem;
}

.pagina-inicial .redes-sociais a 
{
    text-decoration: none;
    color: var(--color-text-page);
}

.pagina-inicial .redes-sociais #twitter:hover 
{
    transition: .3s ease-out;
    transform: scale(1.05);
}

.pagina-inicial .redes-sociais #facebook:hover 
{
    transition: .3s ease-out;
    transform: scale(1.05);
}

.pagina-inicial .redes-sociais #instagram:hover 
{
    transition: .3s ease-out;
    transform: scale(1.05);
}

.btn 
{
    background-color: var(--color-text-page);
    color: var(--color-background-page);
    padding: 10px 40px;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
}

.btn:hover 
{
    background-color: transparent;
    border: 1px solid var(--color-text-page);
    border-radius: 1px;
}


.navbar 
{
    padding: 20px 0;
}


.navbar-brand
{
    color: var(--color-text-page);
    font-family: var(--font-logo);
    font-weight: 800;
}

.offcanvas-title 
{
    color: var(--color-background-page);
    font-family: var(--font-logo);
    font-weight: 800;
}

.nav-link 
{
    position: relative;
    color: red;
    font-family: var(--font-nav-link);
}

