@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face 
{
    font-family: 'font-principal';
    src: url(/font/font-principal.ttf);
}

@font-face 
{
    font-family: 'font-logo';
    src: url(/font/font-logo.otf);
}

:root 
{
    --color-background-page: #000;
    --color-text-page: #fff;
    --color-span: ;

    --font-logo: 'font-logo';
    --font-h1: 'font-principal';
    --font-h2: "Poppins", sans-serif; 
    --font-nav-link: "Open Sans", sans-seri;

    --color-twitter: #1DA1F2;
    --color-facebook: #1877F2;
    --color-instagram: #dd316a;
    --color-spotify: #1DB954;
    --color-apple-music: #FA243C;
    --color-youtube: #FF0000;

    --btn-play-spotify: #1DB954;
    --btn-play-music: #FA243C;
    --btn-paly-youtube: #FF0000;
}

body 
{
    background-color: var(--color-background-page);
    color: var(--color-text-page);
}

main 
{
    padding: 70px 0;
}

.pagina-inicial 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pagina-inicial h1 
{
    font-family: var(--font-h1);
    font-size: 10em;
    font-weight: 900;
}

.pagina-inicial p 
{
    font-family: var();
    font-size: 1rem;
}

.pagina-inicial .redes-sociais 
{
    align-items: center;
    font-size: 2rem;
}

.pagina-inicial .redes-sociais a 
{
    text-decoration: none;
    color: var(--color-text-page);
}

.pagina-inicial .redes-sociais #twitter:hover 
{
    color: var(--color-twitter);
    transition: .3s ease-out;
    transform: scale(1.05);
}

.pagina-inicial .redes-sociais #facebook:hover 
{
    color: var(--color-facebook);
    transition: .3s ease-out;
    transform: scale(1.05);
}

.pagina-inicial .redes-sociais #instagram:hover 
{
    color: var(--color-instagram);
    transition: .3s ease-out;
    transform: scale(1.05);
}

.btn 
{
    background-color: var(--color-text-page);
    color: var(--color-background-page);
    padding: 10px 40px;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
}

.btn:hover 
{
    background-color: transparent;
    border: 1px solid var(--color-text-page);
    border-radius: 1px;
}

.navbar 
{
    background-color: var(--color-background-page);
    padding: 20px 0;
}

.navbar-brand
{
    color: var(--color-text-page);
    font-family: var(--font-logo);
    font-weight: 800;
}

.offcanvas-title 
{
    color: var(--color-background-page);
    font-family: var(--font-logo);
    font-weight: 800;
}

.navbar .nav-link 
{
    font-family: var(--font-nav-link);
    color: #5F423A;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.navbar .nav-link::after 
{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #5F423A;
    transition: width 0.3s ease-in-out;
}

.navbar .nav-link:hover::after 
{
    width: 100%;
}

.navbar .nav-link:hover 
{
    color: #977065;
}

/* Edição da página sobre */
h2 
{
    font-family: var(--font-logo);
    font-size: 5em;
    font-weight: 700;
}

p 
{
    text-align: justify;
}

h3,
h5 
{
    font-family: var(--font-h2);
}


.sobre .redes-sociais 
{
    font-size: 2rem;
}

.sobre .redes-sociais a 
{
    color: var(--color-text-page);
}

.sobre .redes-sociais #spotify:hover 
{
    color: var(--color-spotify);
    transition: .3s ease-out;
    transform: scale(1.2);
}

.sobre .redes-sociais #apple-music:hover 
{
    color: var(--color-apple-music);
    transition: .3s ease-out;
    transform: scale(1.2);
}

.sobre .redes-sociais #youtube:hover 
{
    color: var(--color-youtube);
    transition: .3s ease-out;
    transform: scale(1.2);
}

/* Estilização da página de albuns*/
.card 
{
    background-color: var(--color-background-page);
    color: var(--color-text-page);
    transition: .3s ease-out;
}

.card:hover 
{
    transform: scale(1.05)
}

.btn-play-spotify 
{
    text-decoration: none;
    color: var(--color-text-page);
    background-color: var(--btn-play-spotify);
    border: none;
    padding: 10px;
    transition: .3s ease-out;
}

.btn-play-spotify:hover 
{
    background-color: #1DB954;
    border: none;
}

.btn-play-music 
{
    text-decoration: none;
    padding: 10px;
    background-color: var(--btn-play-music);
    color: var(--color-text-page);
    transition: .3s ease-out;
}

.btn-play-music:hover ~
{
    background-color: #FA243C;
    border: none;
}

.btn-paly-youtube 
{
    text-decoration: none;
    border: none;
    background-color: var(--btn-paly-youtube);
    padding: 10px;
    color: white;
    transition: .3s ease-out;
}

.btn-paly-youtube:hover 
{
    background-color: #FF0000;
    border: none;
}

/* Estilização da Página Tour */
table 
{
    width: 100%;
    max-width: 800px;
    margin: auto;
    border-collapse: collapse;
    background-color: var(--color-background-page);
    color: var(--color-text-page);
    text-align: left;
    border-radius: 8px;
    overflow: hidden;
    overflow-x: auto;
    border-collapse: collapse;
}

th,
td 
{
    padding: 12px;
    border-bottom: 1px solid #5F423A;
}

th 
{
    background-color: #5F423A;
    color: var(--color-text-page);
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) 
{
    background-color: rgba(255, 255, 255, 0.1);
}

tr:hover 
{
    background-color: #5F423A;
    color: var(--color-text-page);
    transition: 0.3s;
}

.btn-comprar 
{
    padding: 10px;
    border: none;
    background-color: #5F423A;
    color: var(--color-text-page);
    font-weight: 600;
}

/*Estilização da página de Contacto */
.contact-form 
{
    color: var(--color-text-page);
    padding: 40px;
}

.btn-contacto 
{
    border: none;
    border-radius: 2px;
    padding: 5px;
    background-color: #5F423A;
    color: var(--color-text-page);
    font-weight: 600;
    transition: .2s ease-out;
}

.btn-contacto:hover 
{
    background-color: #855e53;
}

/* Estilização Geral Do Footer */
.footer 
{
    position: relative;
    overflow: hidden;
}


